<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title></title>
    <meta content="width=device-width, minimum-scale=1,initial-scale=1, maximum-scale=1, user-scalable=0" name="viewport" />
	<meta content="yes" name="apple-mobile-web-app-capable" />
	<meta content="black" name="apple-mobile-web-app-status-bar-style" />
	<meta content="telephone=no" name="format-detection" />
    <script type="text/javascript" src="__PUBLIC__/main/lhc/v2.0/play/js/mootools.js"></script>
    <script type="text/javascript" src="__PUBLIC__/main/lhc/v2.0/play/js/mootools-more.js"></script>
    <script type="text/javascript" src="__PUBLIC__/main/lhc/v2.0/play/js/betwin.js"></script>
    <script src="__PUBLIC__/main/lhc/v2.0/play/js/game.js?v=2018040201"></script>
    <link href="__PUBLIC__/main/lhc/v2.0/play/css/common.css?v=2018040201" rel="stylesheet" />
    <link href="__PUBLIC__/main/lhc/v2.0/play/css/six.css?v=2018040201" rel="stylesheet" />
    <style type="text/css">
			body,html{height: 100%;}
		</style>
</head>
<body>
    <script type="text/javascript">
        !function () {
            type = "six";media_path = "six";
            var lottery = new Element("div", {
                "id": "lottery",
                "data-bind-action": "__PUBLIC__/main/lhc/play/six.html",
                "data-bind-type": "control",
                "data-bind-callback": "lottery-six"
            });
            lottery.inject(document.body);
        }();
    </script>
</body>
</html>