<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>后台 - 发送信息设置</title>
		<meta name="keywords" content="">
		<meta name="description" content="">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="__PUBLIC__/Admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/plugins/iCheck/custom.css" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/animate.min.css" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">

	</head>

	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							<h5>网站设置</h5>
							<div class="ibox-tools">
								<a class="collapse-link">
									<i class="fa fa-chevron-up"></i>
								</a>
							</div>
						</div>
						<div class="ibox-content">
							<form id="signform" action="{:U('Admin/Site/index')}" method="post" class="form-horizontal">
								<div class="form-group">
									<label class="col-sm-2 control-label">欢迎语</label>
									<div class="col-sm-6">
										<input type="text" name="message['hy']" value="{:C('message')['hy']}" placeholder="" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">是否开放注册</label>
									<div class="col-sm-6">
										<input type="text" name="is_open_reg" value="{:C('is_open_reg')}" placeholder="0为关闭，1位开放" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">开通公众号自动登录注册</label>
									<div class="col-sm-6">
										<input type="text" name="is_weixin" value="{:C('is_weixin')}" placeholder="0为关闭，1为开通" class="form-control">
										<span>（开通后，需要配置微信参数，通过微信进入，自动登录注册，其他方式进入，还是可以进入网页版）</span>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">网站域名(不带http)</label>
									<div class="col-sm-6">
										<input type="text" name="siteurl" value="{:C('siteurl')}" placeholder="www.xx.com" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">网站名称</label>
									<div class="col-sm-6">
										<input type="text" name="sitename" value="{:C('sitename')}" placeholder="输入网站名称" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">关键字</label>
									<div class="col-sm-6">
										<input type="text" name="keyword" value="{:C('keyword')}" placeholder="输入SEO关键字" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">网站描述信息</label>
									<div class="col-sm-6">
										<input type="text" name="content" value="{:C('content')}" placeholder="输入网站描述信息" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">微信appid</label>
									<div class="col-sm-6">
										<input type="text" name="WEIXINPAY_CONFIG[APPID]" value="{:C('WEIXINPAY_CONFIG')['APPID']}" placeholder="微信appid" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">微信appsecret</label>
									<div class="col-sm-6">
										<input type="text" name="WEIXINPAY_CONFIG[APPSECRET]" value="{:C('WEIXINPAY_CONFIG')['APPSECRET']}" placeholder="微信appsecret" class="form-control">
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label">授权码</label>
									<div class="col-sm-6">
										<input type="text" name="auth_code" value="{:C('auth_code')}" placeholder="" class="form-control">
									</div>
								</div>
								
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-2">
										<button class="btn btn-primary" type="submit">保存信息</button>&nbsp;&nbsp;&nbsp;
										<a class="btn btn-danger" href="{:U('Index/index')}">取消</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
		<script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="__PUBLIC__/Admin/js/content.min.js?v=1.0.0"></script>
		<script src="__PUBLIC__/Common/js/ajaxForm.js"></script>
		<script src="__PUBLIC__/Common/layer/layer.js"></script>
		<script>
			$(function(){
				$('#signform').ajaxForm({
					success: complete, 
					dataType: 'json'
				});
				function complete(data){
					if(data.status==1){
						$('.btn-primary').attr('disabled','disabled');
						layer.msg(data.info, function(index){
			 				layer.close(index);
							window.location.href=data.url;
						});
					}else{
						layer.msg(data.info);
						return false;	
					}
				}
			});
		</script>
	</body>

</html>