<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />

        <title>{:C('sitename')}</title>

        <meta name="renderer" content="webkit">
        <meta name="format-detection" content="telephone=no,email=no"/>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0, user-scalable=0">
        <meta name="telephone=no" content="format-detection">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
        <meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="format-detection" content="telephone=no" />

        <META HTTP-EQUIV="Pragma" CONTENT="no-cache">
        <META HTTP-EQUIV="Cache-Control" CONTENT="no-cache">
        <META HTTP-EQUIV="Expires" CONTENT="0">

        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/lib.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/public.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/index.css" />
        <link rel="stylesheet" type="text/css" href="__PUBLIC__/Home/css/main.css">
    </head>
    <style>
        #Cocos2dGameContainer{
            width: 100% !important;
            height: 274px !important;
        }
        .top_user{width:100%;color:#bcb6b6;height: 30px;}
        .top_user .headimgurl,.top_user .info,.top_user .fen{display: inline-block;}
        .top_user .headimgurl{width:30px;height: auto}
        .top_user .info{margin-top: 6px;vertical-align: top;font-size: 14px;}
        .top_user .fen{float:right;margin-right:10px;}
        .top_user .btn{
            display: inline-block;
            background-color: #1fa1dc;
            width: 60px;
            height: 24px;
            line-height: 24px;
            border-radius: 3px;
            text-align: center;
            font-size: 14px;
            margin-top: 3px;
            border: 1px solid #1fa1dc;
            color: #FFF;
        }
        .top_user .logout{background: #f8ac59;border:1px solid #f8ac59;vertical-align: top;margin-top:4px;}
        .top_user .bind{background: #f8ac59;border:1px solid #f8ac59;vertical-align: top;margin-top:4px;}
        .top_user .button-xia{background-color: #1ab394 !important;border:1px solid #1ab394 !important;}
        .top_user .lore{float: right;margin-right:20px;}
        .top_user .register{background-color: #4825e1;border:1px solid #4825e1 !important;}
        .tab-content .wz{padding:0;}
        .tab-box table{padding: 0;font-size:12px;}
    </style>
    <body>
        <div class="top_user">
            <if condition="C('is_weixin') eq 1 && $is_weixin">
                <if condition="$userinfo">
                    <div class="headimgurl no"><img src="{$userinfo.headimgurl}" /></div>
                    <div class="info">
                        <p><span id="sy">{$userinfo.nickname}</span></p>
                    </div>
                    <a href="/Home/Index/bind?id={$userinfo.id}" class="btn bind">绑定</a>
                    <div class="fen">
                        <a href="/Home/Fen/addpage" class="btn button-shang">上分</a>
                        <a href="/Home/Fen/xiapage" class="btn button-xia">下分</a>
                    </div>
                </if>
                <else/>
                <if condition="$userinfo">
                    <div class="headimgurl no"><img src="{$userinfo.headimgurl}" /></div>
                    <div class="info">
                        <p><span id="sy">{$userinfo.nickname}</span></p>

                    </div>
                    <a href="/Home/Index/logout" class="btn logout">退出</a>
                    <div class="fen">
                        <a href="/Home/Fen/addpage" class="btn button-shang">上分</a>
                        <a href="/Home/Fen/xiapage" class="btn button-xia">下分</a>
                    </div>
                    <else/>
                    <div class="lore">
                        <a href="/Home/Index/login" class="btn login">登录</a>
                        <a href="/Home/Index/register" class="btn register">注册</a>
                    </div>
                </if>
            </if>

        </div>
        <div class="tab-content">


            <div class="tab-box dh" data-img='0' style="height: 274px;background-color: #ccc;">
                <div id="canvas" style="text-align: center; font-size: 0">
                    <canvas id="gameCanvas" width="1136" height="640" style="width:117%;height:274px"></canvas>
                </div>
            </div>

            <div class="tab-box wz" data-img='1'>
                <table border="" cellspacing="" cellpadding="">
                    <thead>
                        <tr>
                            <th>期号</th>
                            <th>开奖号码</th>
                            <th>冠亚</th>
                            <th>龙虎</th>
                        </tr>
                    </thead>
                    <tbody>
                    <volist name="list" id="vo">
                        <tr>
                            <td>{$vo.periodnumber}</td>
                            <td class="ft-sz-0">
                                <?php
                                $number = unserialize($vo['number']);
                                $lh = unserialize($vo['lh']);
                                ?>
                        <volist name="number" id="t" key="k">
                            <span class="shuzi shuzi_{$t}">{$t}</span>
                        </volist>
                        </td>
                        <td class="txt-al-c ft-sz-0" >
                            <span class="tm">{$vo.tema}</span>
                            <span class="tm cl-{$vo.tema_dx}">{$vo.tema_dx}</span>
                            <span class="tm cl-{$vo.tema_ds}">{$vo.tema_ds}</span>
                            <span class="tm cl-{$vo.zx}">{$vo.zx}</span>
                            <span class="tm">{$vo.tema_dw}</span>
                        </td>
                        <td>
                            <strong class="longhu cl-{$lh[0]}">{$lh[0]}</strong>
                            <strong class="longhu cl-{$lh[1]}">{$lh[1]}</strong>
                            <strong class="longhu cl-{$lh[2]}">{$lh[2]}</strong>
                            <strong class="longhu cl-{$lh[3]}">{$lh[3]}</strong>
                            <strong class="longhu cl-{$lh[4]}">{$lh[4]}</strong>
                        </td>
                        </tr>
                    </volist>
                    </tbody>
                </table>
            </div>
        </div>
        <style type="text/css">
            .leftRight .nav span{
                width:54px;
                height: 33px;
                display: block;
                color: #FFF;
                font-weight: bold;;
                text-align: center;
                line-height: 33px;
                margin-top:6px;
                border-radius: 5px;
            }
            .headimgurl{text-align: center;}
            .leftRight .nav span.jingcai{background-color: #008dff;}
            .leftRight .nav span.moregame{background-color: #008dff;}
            .leftRight .nav span.refresh{background-color: #cf3be6;}
            .leftRight .nav span.record{background-color: #4688df;}
            .leftRight .nav span.kaijiang{background-color: #5ac56e;}
            .leftRight .nav span.rule{background-color: #000;}
            .leftRight .nav span.kefu{background-color: #705ac5;}
            .leftRight .nav span.tui{background-color: #31b3a9;}
            .leftRight .nav span.sf{background-color: #1fa1dc;}
            .leftRight .nav span.xf{background-color: #1ab394;}
            .leftRight .nav span.kj{background-color: #4CAF50;}
            .none{display: none}
        </style>
        <div class="main-box">
            <div class="leftRight">
                <div class="nav">
                    <a href="{:U('Home/Run/jincaipk10')}" class="none" target="myIframe" data-height='350'><span class="jingcai">竞猜下注</span></a>
					<a href="/Home/Run/index" ><span class="record">返回大厅</span></a>
                    <!-- <div class="moregame"><span class="moregame">更多游戏</span></div> -->
                    <!-- 弹窗 -->
                    <div class="pop_bg"></div>
                    <div class="pop_game">
                        <div class="closed"><img src="__PUBLIC__/Home/css/img/game7.png" /></div>
                        <div class="game_box">
                            <ul class="game clearFloat">
                                <li>
                                    <a href="javascript:;">
                                        <div class="ig"><a href="{:U('Home/Run/pk10')}"><img src="__PUBLIC__/Home/css/img/game1.jpg" /></a></div>
                                        <p></p>
                                    </a>
                                </li>
								<li>
                                    <a href="javascript:;">
                                        <div class="ig"><a href="{:U('Home/Run/er75sc')}"><img src="__PUBLIC__/Home/css/img/game1_1.jpg" /></a></div>
                                        <p></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="ig"><a href="{:U('Home/Run/xyft')}"><img src="__PUBLIC__/Home/css/img/game2.jpg" /></a></div>
                                        <p></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="ig"><a href="{:U('Home/Run/ssc')}"><img src="__PUBLIC__/Home/css/img/game3.jpg" /></a></div>
                                        <p></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="ig"><a href="{:U('Home/Run/bj28')}"><img src="__PUBLIC__/Home/css/img/game4.jpg" /></a></div>
                                        <p></p>
                                    </a>
                                </li>
                                <li>
                                    <a href="javascript:;">
                                        <div class="ig"><a href="{:U('Home/Run/jnd28')}"><img src="__PUBLIC__/Home/css/img/game5.jpg" /></a></div>
                                        <p></p>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--  弹窗结束 -->    
                    <a onclick="javascript:window.location.href = window.location.href;" class=" shuax" target="myIframe"><span class="refresh">刷新下注</span></a>

                    <a href="{:U('Home/Run/record')}?t=1" class="" target="myIframe" data-height='180'>
                        <span class="record">下注记录</span>
                    </a>
                    <!-- <div class="tab-bt" data-bt="1"><span class="kaijiang">开奖记录</span></div> -->
                    <a href="{:U('Home/Run/kjpk10')}" class="" target="myIframe" data-height='920'><span class="kj">开奖记录</span></a>

                    <a href="{:U('Home/Run/kefu_wx')}"><span class="kefu">客服微信</span></a>
                    <a href="{:U('Home/Run/rulepk10')}" class="" target="myIframe" data-height='920'><span class="rule">游戏规则</span></a>
                    <if condition="C('is_qrcode') eq 1">
                        <a href="{:U('Home/Run/tui')}?uid={$userinfo.id}" class=" active"  data-height='200'><span class="tui">推广</span></a>
                    </if>
                    <a href="/Home/User/index" ><span class="xf">个人中心</span></a>
                    <a href="/Home/User/offline"><span class="kefu">代理中心</span></a>

                    

                </div>
                <div class="content">
                    <!--iframe-->
                    <div class="iframewp">
                        <iframe id="myIframe" name="myIframe"></iframe>
                    </div>
                </div>
            </div>
        </div>	



        <script src='//cdn.bootcss.com/jquery/1.11.3/jquery.js'></script>
        <script src="__PUBLIC__/layer/layer.js"></script>
        <script type="text/javascript">
                        $(function () {
                            /*------- 声明对象、参数 -----------*/
                            var wp = $('.main-box .leftRight'),
                                    nav = wp.children('.nav'),
                                    navli = nav.children('a'),
                                    con = wp.children('.content'),
                                    iframe = wp.find('.iframewp');
                            var num_hei = 0,
                                    h = 100;
                            /*绑定事件*/
                            navli.on('click', function () {
                                var _ = $(this);
                                navli.removeClass('active').filter(_).addClass('active');
                                h = get_dataHei(_);
                                alertHei();
                                navli.filter('.shuax').attr('href', _.attr('href'));
                                navli.filter('.shuax').attr('data-height', _.attr('data-height'));
                            });
                            /*初始化*/
                            //navli.filter('.active').eq(0).children().trigger('click');
                            navli.eq(0).children().trigger('click');
                            windowAlter(alertHei);
                            /*公共方法*/
                            function get_dataHei(obj) {
                                var _ = obj;
                                if (typeof (_.attr('data-height')) != "undefined" && $.trim(_.attr('data-height')).length > 0 && parseInt($.trim(_.attr('data-height'))) > 100) {
                                    return parseInt($.trim(_.attr('data-height')));
                                } else {
                                    return 100;
                                }
                            }

                            function alertHei() {
                                num_hei = nav.outerHeight();
                                num_hei = num_hei * (h / 100);
                                con.css({
                                    'height': num_hei + 'px'
                                });
                                num_hei = num_hei - parseFloat(con.css('padding-top')) - parseFloat(con.css('padding-bottom'));
                                if (con.children('.top').is(':visible')) {
                                    var iframe_hei = num_hei - con.children('.top').outerHeight(true);
                                } else {
                                    var iframe_hei = num_hei;
                                }
                                iframe.css({
                                    'height': iframe_hei + 'px'
                                });
                            }

                            function getIndexing(obj) {
                                var i = $.inArray(obj[0], navli);
                                return 'go' + (i + 1);
                            }

                            function windowAlter(fun) {
                                fun();
                                $(window).resize(fun);
                            }

                            function imgloadstate(imgs, fun, Time) {
                                var ys, boole,
                                        time = Time || 500,
                                        img = imgs[0];

                                function pd() {
                                    boole = img.complete;
                                    if (boole) {
                                        fun();
                                        clearTimeout(ys);
                                    } else {
                                        ys = setTimeout(pd, time);
                                    }
                                }
                                pd();
                            }

                            /*-------------选项卡（hover切换）----------*/
                            tab_hover($('.leftRight .nav'), $('.tab-content'));

                            function tab_hover(bt, content) {
                                bt.each(function (i, e) {
                                    var _ = $(e);
                                    var _c = $(content);
                                    var _bt = _.children('.tab-bt'),
                                            _box = _c.children('.tab-box');

                                    _bt.on('click', function () {
                                        if (!$(this).hasClass('on')) {
                                            var j = $(this).data('bt'),
                                                    _img = _box.filter('[data-img=' + j + ']');
                                            if (_img.length > 0) {
                                                _bt.removeClass('on');
                                                $(this).addClass('on');
                                                _box.stop(true, false).hide().removeClass('on').filter('[data-img=' + j + ']').addClass('on').fadeIn().css("display", "block");
                                            }
                                        }
                                    });
                                })
                            }
                            ;
                        })
        </script>

        <!--视频-->
        <script src="__PUBLIC__/main/mbase.js"></script>
        <script src="__PUBLIC__/main/cocos2d.js"></script>


        <script type="text/javascript">
                        var acontainer = $('#acontainer');
                        var hasData = false;

                        function AddList(data) {
                            if (data.length > 0) {
                                hasData = true;
                                acontainer.html(data[0].data);
                                acontainer.show();
                            }
                        }
                        function beforeStartRunning() {
                            acontainer.hide();
                        }

                        function afterEndRunning() {
                            if (hasData)
                                acontainer.show();
                        }
                        /*更多游戏弹窗*/
                        $(function () {
                            $(".moregame").click(function () {
                                $(".pop_bg").show();
                                $(".pop_game").show();
                            })
                            $(".pop_game .closed").click(function () {
                                $(".pop_bg").hide();
                                $(".pop_game").hide();
                            })
                        })
        </script>







        <!-- 后期添加的代码 
                ****
                *
                *
        -->
        <!--悬浮区域-->
        <link rel="stylesheet" type="text/css" href="/Template/Home/Run/css/zhicwl-f.css" />

        <div class="zhicwl-xfqugao"></div>
        <div class="zhicwl-fxalpr display-box box-align-center box-pack-center">
            <div class="zhicwl-fxalpr-an1"><span>清空所选</span></div>
            <div class="zhicwl-fxalpr-an2 box-flex"><span>共 <samp id="zhicwl-sqjdrt">0</samp> 注 </span></div>
            <div class="zhicwl-fxalpr-an3"><span>确定下单</span></div>
        </div>

        <!--确定下注弹窗-->
        <div class="zhicwl-cailgao"></div>
        <div class="zhicwl-qdxldfp">
            <div class="zhicwl-qdxldfp-div">
                <div class="zhicwl-jdoas display-box box-align-center">
                    <h2 class="box-flex"></h2>
                    <div class="zhicwl-jdlptr"><span>X</span></div>
                </div>
                <div class="zhicwl-ghsknbr">共 <span id="zhicwl-tzjev">3</span> 注， 投注金额 <span id="zhicwl-jgr">0</span> 元</div>
                <div class="zhicwl-xilaptr display-box box-align-center">
                    <div>下注金额：</div>
                    <div class="zhicwl-xzje-inp box-flex"><input id="my_money" type="text" value="¥0.00" readonly="readonly"></div> 
                    <div class="zhicwl-xzqkl"><button>清零</button></div>
                </div>
                <div class="zhicwl-sailsp">
                    <dl>
                        <dt>
                            <img src="__PUBLIC__/Home/images/cma1.png">
                            <b>5</b>
                        </dt>
                        <dt>
                            <img src="__PUBLIC__/Home/images/cma2.png">
                            <b>10</b>
                        </dt>				
                        <dt>
                            <img src="__PUBLIC__/Home/images/cma3.png">
                            <b>50</b>
                        </dt>			
                        <dt>
                            <img src="__PUBLIC__/Home/images/cma4.png">
                            <b>100</b>
                        </dt>	
                        <dt>
                            <img src="__PUBLIC__/Home/images/cma5.png">
                            <b>500</b>
                        </dt>	
                        <dt>
                            <img src="__PUBLIC__/Home/images/cma6.png">
                            <b>1000</b>
                        </dt>								
                    </dl>
                </div>
                <div class="zhicwl-qxldpr display-box box-align-center"> 
                    <div class="zhicwl-qxldpr-an1"><span>取消下注</span></div>
                    <div class="zhicwl-qxldpr-an2"><span>确定下注</span></div>
                </div>
            </div>
        </div>
        <!--/确定下注弹窗-->

        <!--/悬浮区域-->		

        <script src="/Template/Home/Run/js/zhicwl-f.js"></script>
        <!-- /后期添加的代码 -->		

    </body>

</html>