<html><head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no,minimal-ui">
		<meta name="format-detection" content="telephone=no">
		<title></title>
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ssc/style.css">
		<link rel="stylesheet" href="__PUBLIC__/Home/css/ssc/animateTool.css">
	</head>

	<body>
		<div class="cqsscAnimate">
			<div class="bodybg"><img src="__PUBLIC__/Home/css/img/bodybg.jpg"></div>
			<div class="loading" style="display: none;">
				<div class="loadtxt">
					LOADING...
				</div>
			</div>
			<div class="content">
				<div class="nameLogo nameLogo_cq"></div>
				<div class="coderbox">
					<div class="codeboxl">
						<div class="line tl">
							<div class="box perspectiveView">
								<span class="flip afterbg out" style="display: none;"></span>
								<span class="flip smallbg in"></span>
							</div>
							<div class="box perspectiveView">
								<span class="flip afterbg out" style="display: none;"></span>
								<span class="flip smallbg in"></span>
							</div>
							<div class="box perspectiveView">
								<span class="flip afterbg out" style="display: none;"></span>
								<span class="flip smallbg in"></span>
							</div>
							<div class="box perspectiveView">
								<span class="flip afterbg out" style="display: none;"></span>
								<span class="flip bigbg in"></span>
							</div>
							<div class="box perspectiveView">
								<span class="flip afterbg out" style="display: none;"></span>
								<span class="flip bigbg in"></span>
							</div>
						</div>
						<div class="line ml" id="numBig">
							<div class="box beforebg">
								<span class="num0" style="background-position: 0px 0px; background-size: 100%;"></span>
							</div>
							<div class="box beforebg">
								<span class="num1" style="background-position: 0px 0px; background-size: 100%;"></span>
							</div>
							<div class="box beforebg">
								<span class="num2" style="background-position: 0px 0px; background-size: 100%;"></span>
							</div>
							<div class="box beforebg">
								<span class="num9" style="background-position: 0px 0px; background-size: 100%;"></span>
							</div>
							<div class="box beforebg">
								<span class="num7" style="background-position: 0px 0px; background-size: 100%;"></span>
							</div>
						</div>
						<div class="line bl">
							<div class="box perspectiveView">
								<span class="flip afterbg out" style="display: none;"></span>
								<span class="flip doublebg in"></span>
							</div>
							<div class="box perspectiveView">
								<span class="flip afterbg out" style="display: none;"></span>
								<span class="flip singlebg in"></span>
							</div>
							<div class="box perspectiveView">
								<span class="flip afterbg out" style="display: none;"></span>
								<span class="flip doublebg in"></span>
							</div>
							<div class="box perspectiveView">
								<span class="flip afterbg out" style="display: none;"></span>
								<span class="flip singlebg in"></span>
							</div>
							<div class="box perspectiveView">
								<span class="flip afterbg out" style="display: none;"></span>
								<span class="flip singlebg in"></span>
							</div>
						</div>
					</div>
					<div class="codeboxr">
						<div class="heiban">
							<div class="disnone">
								<div class="line1 disnone" id="qishu">
								</div>
								<div class="line1 disnone" id="nexttime">
									<span>下期开奖：</span><span class="redfont" id="drawTime"></span>
								</div>
							</div>
							<div class="line1">
								<div class="oping" style="display: none;">
									<div class="cuttimetitle">正在开奖...</div>
								</div>
								<div class="djs" style="display: block;">
									<span class="cuttimetitle disnone" id="cuttime">倒计时：</span>
									<span class="bluefont">08:51</span>
								</div>
							</div>
						</div>
						<div class="heibanb">
							<div class="line1" id="qishu">
								<span class="redfont" id="preDrawIssue">20170826085</span>
							</div>
							<div class="bckj">
								<span id="sumNum">19</span><span id="sumSingleDouble">单</span><span id="sumBigSmall">小</span><span id="dragonTiger">虎</span>
							</div>
							<div class="smallnum" id="litNum">
								<div class="box beforebg">
									<span class="num0"></span>
								</div>
								<div class="box beforebg">
									<span class="num1"></span>
								</div>
								<div class="box beforebg">
									<span class="num2"></span>
								</div>
								<div class="box beforebg">
									<span class="num9"></span>
								</div>
								<div class="box beforebg">
									<span class="num7"></span>
								</div>
							</div>
							<!--<div class="smallnum line" id="btnbox">
								<div class="box">
									<div class="orbtn">两面路珠</div>
								</div>
								<div class="box">
									<div class="orbtn"> 开奖历史</div>
								</div>
								<div class="box">
									<div class="orbtn"> 走势分析</div>
								</div>
							</div>-->
						</div>
					</div>
				</div>
				<div class="menubox">
					<div class="tyrbtn"></div>
					<div id="soundbtn" class="soundbtn"></div>
				</div>
				<div class="disnone">
					<audio autoplay="autoplay" id="bgsound" src="__PUBLIC__/Home/css/ssc/bg.mp3" loop="loop"></audio>
				</div>
			</div>
		</div>
	
	<script type="text/javascript" src="__PUBLIC__/Home/js/jquery-1.9.1.js"></script>
	<script  src="__PUBLIC__/Home/js/victor1.js"></script>

</body></html>