<!DOCTYPE html>
<html>

	<head>

		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">

		<title>后台 - 北京赛车添加开奖</title>
		<meta name="keywords" content="">
		<meta name="description" content="">

		<link rel="shortcut icon" href="favicon.ico">
		<link href="__PUBLIC__/Admin/css/bootstrap.min14ed.css?v=3.3.6" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/font-awesome.min93e3.css?v=4.4.0" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/plugins/iCheck/custom.css" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/animate.min.css" rel="stylesheet">
		<link href="__PUBLIC__/Admin/css/style.min862f.css?v=4.1.0" rel="stylesheet">

	</head>

	<body class="gray-bg">
		<div class="wrapper wrapper-content animated fadeInRight">
			<div class="row">
				<div class="col-sm-12">
					<div class="ibox float-e-margins">
						<div class="ibox-title">
							北京赛车添加开奖(用于系统未自动开奖时，手动进行开奖)
						</div>
						<div class="ibox-content">
							<form class="form-horizontal" method="post" action="{:U('Admin/Caiji/addpk10')}" name="basic_validate" enctype="multipart/form-data" id="signupForm">
								<div class="form-group">
									<label class="col-sm-2 control-label">开奖期号</label>
									<div class="col-sm-6">
										<input type="text" name="periodnumber" id="periodnumber" placeholder="示例:628946" class="form-control">
									</div>
								</div>
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<label class="col-sm-2 control-label">开奖号码</label>
									<div class="col-sm-6">
										<input type="text" name="awardnumbers" id="awardnumbers" placeholder="示例:09,03,02,04,07,06,05,08,01,10" class="form-control">
									</div>
								</div>
								
								<div class="hr-line-dashed"></div>
								<div class="form-group">
									<div class="col-sm-4 col-sm-offset-2">
										<button class="btn btn-primary" type="submit">确认添加开奖</button>
										<a class="btn btn-danger" href="{:U('Admin/Caiji/pk10')}">取消</a>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
		
		<script src="__PUBLIC__/Admin/js/jquery.min.js?v=2.1.4"></script>
		<script src="__PUBLIC__/Admin/js/bootstrap.min.js?v=3.3.6"></script>
		<script src="__PUBLIC__/Admin/js/content.min.js?v=1.0.0"></script>
		<script src="__PUBLIC__/Common/js/ajaxForm.js"></script>
		<script src="__PUBLIC__/Common/layer/layer.js"></script>
		<script>
			$(function(){
				$('#signupForm').ajaxForm({
					beforeSubmit: checkForm,
					success: complete, 
					dataType: 'json'
				});
				function checkForm(){
					if( '' == $.trim($('#periodnumber').val())){
						layer.alert('输入期号', {icon: 5}, function(index){
			 			layer.close(index);
						$('#periodnumber').focus(); 
						});
						return false;
					}

					if( '' == $.trim($('#awardnumbers').val())){
						layer.alert('输入开奖号码', {icon: 5}, function(index){
			 			layer.close(index);
						$('#awardnumbers').focus(); 
						});
						return false;
					}
				}
				function complete(data){
					if(data.status==1){
						$('.btn-primary').attr('disabled','disabled');
						layer.msg(data.info, function(index){
			 				layer.close(index);
							window.location.href=data.url;
						});
					}else{
						layer.msg(data.info);
						return false;	
					}
				}
			});
		</script>
		<script>
			$("#file0").change(function(){
				var objUrl = getObjectURL(this.files[0]) ;
				console.log("objUrl = "+objUrl) ;
				if (objUrl) {
					$("#img0").attr("src", objUrl) ;
				}
			}) ;
	
	
			function getObjectURL(file) {
				var url = null ;
				if (window.createObjectURL!=undefined) {
					url = window.createObjectURL(file) ;
				} else if (window.URL!=undefined) {
					url = window.URL.createObjectURL(file) ;
				} else if (window.webkitURL!=undefined) {
					url = window.webkitURL.createObjectURL(file) ;
				}
				return url ;
			}
	
			function backpic(picurl){
				$("#img0").attr("src",picurl);
				$("input[name='file0']").val("");
			}
		</script>
	</body>

</html>